{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="meta"><h2>Please Register Here</h2></div>
        <div class="row">
             <form method="post" action="{% url 'myapp:create' %}">
                 {% csrf_token %}

                <div class="form-group">
                    <label for="note">Create Note</label>

                    <input type="text"
                           name="note"
                           class="form-control"
                           placeholder="Enter Note">
                </div>

                 <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
