{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Create Note</h2>
        <div class="row">
             <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="note">Note</label>

                    <input type="text"
                           name="note"
                           value="{{object.name}}"
                           class="form-control"
                           placeholder="Enter Note">
                </div>
                 <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
